@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: "Poppins Semi-Bold", system-ui, sans-serif;
    }
  }
  
  .section__padding {
    padding: 4rem 6rem;
  
  }
  
  .section__margin {
    padding: 4rem 6rem;
  
  }
  
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
  
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
  
    }
  
    .section__margin {
      padding: 4rem;
  
    }
  }
  
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem 2rem;
  
    }
  
    .section__margin {
      padding: 4rem 2rem;
  
    }
  }